headersOrigin = "config"
plugins = []

[functions]

[functions."*"]

[build]
publish = "C:\\Users\\User\\Desktop\\COINS"
publishOrigin = "config"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[headers]]
for = "/favicon.ico"

[headers.values]
Cache-Control = "public, max-age=3600"

[[redirects]]
from = "/favicon.ico"
to = "/assets/images/icono-moneda.webp"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]